/* css 기본세팅 */
*{
    margin: 0; padding: 0; box-sizing: border-box;
}
ul{
    list-style: none;
}
a {
    color: #000; text-decoration: none; text-align: center;
}
img{
    vertical-align: middle; border: 0;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Pretendard';
}
input{
    background-color: transparent; border: none;
}
input:focus{
    outline: none;
}
button{
    border: none; background-color: transparent; cursor: pointer;
}
/* 공통클래스 */
.inner{
    width: 100%; max-width: 1320px; margin: 0 auto; padding: 0 20px;
}