.shopping{}
.shopping .slide-tabs{}
.shopping .slide-tabs li{}
.shopping .slide-tabs li a{
    
}
.shopping .slide-tabs li.active{}
.sw-shopping{}
.sw-shopping ul{}
.sw-shopping ul li{}
.sw-shopping ul li a{
    border-radius: 15px; border: 1px solid rgba(0, 0, 0, 0.06); display: block; 
}
.sw-shopping ul li .imgbox{
    background: rgba(0, 0, 0, 0.03); position: relative; padding-bottom: 100%; width: 100%; 
}
.sw-shopping ul li .imgbox img{
    width: 100%; height: 100%; position: absolute; top: 0; left: 0; mix-blend-mode: multiply;
}
.sw-shopping ul li .textbox{
    padding: 20px;
}
.sw-shopping ul li .textbox h2{}
.sw-shopping ul li .textbox h2 span{}
.sw-shopping ul li .textbox p{}