.shopping{}
.shopping .slide-tabs{}
.shopping .slide-tabs li{}
.shopping .slide-tabs li a{}
.shopping .slide-tabs li.active{}
.sw-shopping{}
.sw-shopping ul{}
.sw-shopping ul li{}
.sw-shopping ul li a{
    border-radius: 15px; border: 1px solid rgba(0, 0, 0, 0.06); 
}
.sw-shopping ul li .imgbox{
    background: rgba(0, 0, 0, 0.03); position: relative; padding-bottom: 100%; width: 100%; 
}
.sw-shopping ul li .imgbox img{
    width: 100%; height: 100%; position: absolute; top: 0; left: 0; mix-blend-mode: multiply;
}
.sw-shopping ul li .textbox{
    padding: 20px;
}
.sw-shopping ul li .textbox h2{
    margin-bottom: 6px; font-size: 18px; font-weight: 400;
}
.sw-shopping ul li .textbox h2 span{
    font-size: 20px; display: inline-block; font-weight: 700;
}
.sw-shopping ul li .textbox h2 span.ratio{margin-right: 2px; color: red;}
.sw-shopping ul li .textbox p{
    text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; min-height: 36px; font-size: 15px;
}
@media screen and (max-width: 1024px){}
@media screen and (max-width: 768px){
    .sw-shopping ul li{
        
    }
    .sw-shopping ul li .textbox{
        padding: 10px;
    }
    .sw-shopping ul li .textbox h2{
        font-size: 11px;
    }
    .sw-shopping ul li .textbox h2 span{
        font-size: 12px;
    }
    .sw-shopping ul li .textbox p{
        font-size: 13px; min-height: 30px;        
    }
}