.tour{}
.sw-tour{}
.sw-tour li{}
.sw-tour li a{
    border-radius: 12px; border: 1px solid rgba(0, 0, 0, 0.06); display: block; overflow: hidden;
}
.sw-tour li .imgbox{
    padding-bottom: 60%;
}
.sw-tour li .imgbox img{}
.sw-tour li .textbox{
    padding: 23px 20px 18px; position: relative; font-size: 15px;
}
.sw-tour li .textbox .point{
    position: absolute; top: -16px; left: 20px; padding: 0 12px; background-color: #1769ff; line-height: 32px; border-radius: 4px; color: #fff; font-size: 14px;
}
.sw-tour li .textbox .promotion{
    color: #1769ff; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.sw-tour li .textbox .title{
    margin: 4px 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.sw-tour li .textbox .price{
    font-size: 16px;
}
.sw-tour li .textbox .price b{
    font-size: 20px;
}

@media screen and (max-width: 1024px){}
@media screen and (max-width: 768px){
    .sw-tour li{width: 150px;}
    .sw-tour li .textbox{
        padding: 16px 12px 12px;
    }
    .sw-tour li .textbox .point{
        font-size: 10px; line-height: 22px; top: -12px;
    }
    .sw-tour li .textbox .promotion{
        font-size: 13px;
    }
    .sw-tour li .textbox .title{font-size: 14px;}
    .sw-tour li .textbox .price{
        font-size: 13px;
    }
    .sw-tour li .textbox .price b{
        font-size: 15px;
    }
}